<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Comments</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        const app = new Vue({
            el: "#app",
            template:`
            <div class="container">
                <h1>Comentários</h1>
                <hr>
                <div class="form-group">
                  <p>
                      <input type="text" class="form-control" placeholder="Seu Nome" v-model="name">
                  </p>
                  <p>
                      <textarea class="form-control" placeholder="Comentário" v-model="comment"></textarea>
                  </p>
                  <a href="#" class="btn btn-primary" v-on:click="addComment" type="submit">Comentar</a>
              </div>
              <div class="list-group">
                  <div class="list-group-item" v-for="(comment, index) in comments">
                      <span class="comment__author">Author: <strong>{{ comment.name }}</strong></span>
                      <p>{{ comment.message }}</p>
                      <div>
                          <a id="deleteButton" v-on:click.prevent="removeComment(index)">Excluir</a>
                      </div>
                  </div>
              </div>
              <hr>
            </div>`,
            data(){
                return {
                    comments: [],
                    name: '',
                    comment: ''
                }
            },
            methods: {
                addComment(){
                    if(this.name.trim() === '' || this.comment.trim() === ''){
                        return;
                    }

                    this.comments.push({
                        name: this.name,
                        message: this.comment
                    });
                    this.name = '',
                    this.comment = ''
                },
                removeComment(index){
                    this.comments.splice(index, 1);
                }
            }
        });
    </script>      
  </body>
</html>